extends ../layouts/common.pug
block content
    h1 User
    if errors
        each error in errors
            .alert.alert-danger= error
    form(action="/users/create", method="POST",enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name" value=value ? value.name : '') 
        .form-group
            label(for="phone") Phone
            input#phone.form-control(type="text", name="phone" value=value? value.phone : '')
        .form-group
            label(for="file") Choose a file
            input#file.form-control-file(type="file", name="avatar")
        button(class="btn btn-primary") Create